html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 100%;
}
* {
  box-sizing: border-box;
}
a {
  color: #0070f3;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
table,
td,
th {
  border: 1px solid #222;
  padding: 10px;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  width: max-content;
  max-width: 100%;
  margin: 20px 0;
  tr:nth-child(even) td {
    background-color: #f6f8fa;
  }
}
small {
  font-size: 14px;
}
