@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base.scss";

// tailwind が h2 などのスタイルをリセットするので、post.scss で上書きしている
@import "./post.scss";

.ais-SearchBox-input {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #d6d6e7;
  padding: 10px;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}
