.markdown-body {
  margin-top: 20px;
  code {
    padding: 0.2em 0.4em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    background-color: rgba(27, 31, 35, 0.05);
    font-size: 85%;
    border-radius: 6px;
  }
  > p {
    line-height: 1.5em;
    margin-top: 1.5em;
  }
  a {
    color: #0070f3;
    text-decoration: none;
  }
  h1 {
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 20px 0;
  }
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0;
  }
  h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 20px 0;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  h5 {
    font-size: 1em;
  }
  ul {
    list-style: disc;
    padding: 0;
    padding-inline-start: 1.5rem;
    margin-bottom: 5px;
  }
  pre {
    margin-top: 0 !important;
    padding: 10px 1em !important;
  }
  blockquote {
    font-style: italic;
    padding: 1.5rem;
    margin-bottom: 20px;
    background: rgb(241, 244, 247);
  }
  &__codeblock-container {
    position: relative;
    background: rgb(40, 42, 54);
    margin: 10px 0;
    code {
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
        monospace;
      background-color: rgba(27, 31, 35, 0.05);
      font-size: 85%;
      border-radius: 6px;
      padding: 0;
    }
  }
  &__codeblock-filename {
    display: inline-block;
    max-width: 100%;
    font-size: 13px;
    color: #ffffff;
    padding: 5px;
    background: rgba(177, 197, 247, 0.25);
  }
}
